@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');

html {
  background-color: #f7f7f7;
  font-family: 'Heebo', sans-serif;
}

h1 {
  font-size: 40px;
  line-height: 50px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 18px;
}

h5,
p,
button,
span,
tr {
  font-size: 16px;
}

h6,
a,
th {
  font-size: 12px;
}

.container--width {
  width: 90%;
}

.header-container--modifier {
  position: static;
}

.position--sticky {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 500;
}

.header--height {
  height: 120px;
}

.primary--bg-color {
  background-color: rgb(48, 51, 61);
}

.secondary--bg-color {
  background-color: rgb(247, 152, 28);
}

.base--bg-color {
  background-color: #f7f7f7;
}

.tertiary--bg-color {
  background: linear-gradient(
    -180deg,
    rgb(13, 60, 200) 0%,
    rgb(4, 41, 181) 100%
  );
}

.light-blue--bg-color {
  background: rgb(71, 158, 235);
}

.primary--color {
  color: rgb(53, 64, 82);
}

.secondary--color {
  color: rgb(127, 143, 164);
}

.tertiary--color {
  color: rgb(13, 60, 200);
}

.color--white {
  color: white;
}

.red--color {
  color: rgb(248, 83, 89);
}

.yellow--color {
  color: rgb(247, 152, 28);
}

.border-left-larger--red {
  border-left: 12px solid rgb(248, 83, 89) !important;
}

.border-left-larger--yellow {
  border-left: 12px solid rgb(247, 152, 28) !important;
}

.border-left-larger--transparent {
  border-left: 12px solid transparent !important;
}

.nav--border-none {
  border: none !important;
}

.warning-icon--gray {
  fill: rgb(53, 64, 82);
}

.warning-icon--red {
  fill: rgb(248, 83, 89);
}

.warning-icon--yellow {
  fill: rgb(247, 152, 28);
}

.button--contained {
  border-radius: 0px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.button--outlined {
  border-radius: 0px;
  border: 1px solid rgb(13, 60, 200);
}

.tab-heading-underline--modifier::after {
  background-color: rgb(13, 60, 200) !important;
}

.card--modifier {
  box-shadow: 2px 2px 20px 5px rgba(13, 60, 200, 0.05) !important;
  min-height: 90px;
  border-radius: 0;
}

.button-secondary--modifier {
  border-radius: 0px;
  width: 200px;
}

.table--modifier {
  background: rgb(255, 255, 255);
  border-radius: 0px;
  border: 1px solid rgb(211, 219, 245);
}

.table--modifier tr {
  height: 50px;
}

.table-heading-row {
  background-color: rgba(13, 60, 200, 0.05);
  text-transform: uppercase;
}
